@page
@model IterAddWeb.Pages.CalcModel
@{
}


<h1>Calc</h1>

<h2>Tabell</h2>



<table class="table table striped">
    <tr>
        <th>Calc</th>
        <th>Calc2</th>
        <th>Calc3</th>
    </tr>
    <tr>
        <td>Calc</td>
        <td>Calcier</td>
        <td>Calciest</td>
    </tr>
    <tr>
        <td>Chonk</td>
        <td>Chonkier</td>
        <td>Chonkiest</td>
    </tr>
</table>
